<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AnimalMapper">
  <resultMap id="BaseResultMap" type="pojo.Animal">
    <id column="an_id" jdbcType="INTEGER" property="anId" />
    <result column="an_name" jdbcType="VARCHAR" property="anName" />
    <result column="an_t_id" jdbcType="INTEGER" property="anTId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    an_id, an_name, an_t_id, u_id
  </sql>
  <select id="selectByExample" parameterType="pojo.AnimalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_animal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_animal
    where an_id = #{anId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_animal
    where an_id = #{anId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.AnimalExample">
    delete from tb_animal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Animal">
    insert into tb_animal (an_id, an_name, an_t_id, 
      u_id)
    values (#{anId,jdbcType=INTEGER}, #{anName,jdbcType=VARCHAR}, #{anTId,jdbcType=INTEGER}, 
      #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Animal">
    insert into tb_animal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="anId != null">
        an_id,
      </if>
      <if test="anName != null">
        an_name,
      </if>
      <if test="anTId != null">
        an_t_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="anId != null">
        #{anId,jdbcType=INTEGER},
      </if>
      <if test="anName != null">
        #{anName,jdbcType=VARCHAR},
      </if>
      <if test="anTId != null">
        #{anTId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.AnimalExample" resultType="java.lang.Long">
    select count(*) from tb_animal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_animal
    <set>
      <if test="record.anId != null">
        an_id = #{record.anId,jdbcType=INTEGER},
      </if>
      <if test="record.anName != null">
        an_name = #{record.anName,jdbcType=VARCHAR},
      </if>
      <if test="record.anTId != null">
        an_t_id = #{record.anTId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_animal
    set an_id = #{record.anId,jdbcType=INTEGER},
      an_name = #{record.anName,jdbcType=VARCHAR},
      an_t_id = #{record.anTId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Animal">
    update tb_animal
    <set>
      <if test="anName != null">
        an_name = #{anName,jdbcType=VARCHAR},
      </if>
      <if test="anTId != null">
        an_t_id = #{anTId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Animal">
    update tb_animal
    set an_name = #{anName,jdbcType=VARCHAR},
      an_t_id = #{anTId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER}
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
</mapper>